   
    <div class="container" ng-controller="dishDetailController">
        <div class="row row-content" >
            <div class="col-xs-12" >
              <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
               <div class="media" >
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object img-thumbnail"  ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                      </div>
                      <div class="media-body">
                        <h2 class="media-heading">
                        {{dish.name}}
                        <span class="label label-danger">{{dish.label}}</span>
                        <span class="badge">{{dish.price | currency }}</span>
                        </h2>
                          <p>{{dish.description}}</p>
                      </div>
                </div>
                    
            </div>
            <div class="col-xs-9 col-xs-offset-1">
              <div>
                  <h4>Customer Comments  <span><small>sort by:</small></span><input type="text" ng-model="criteria"></h4>
              </div>
               <div class="well well-sm" ng-repeat="comment in dish.comments | orderBy:criteria">
                   <blockquote>
                      <p>{{comment.rating}} star</p>
                      <p>{{comment.comment}}</p>
                      <footer>{{comment.author}}, <cite title="Source Title">{{comment.date| date:'MMM,d,yyyy'}}</cite></footer>

                    </blockquote>
               </div>
               
            </div>
            <div class="row row-content" ng-controller="FormController" >
             <!-- Beginning of  well -->
            <div class="col-xs-9 col-xs-offset-1" ng-show="defaultselectedrating.comment">
             <div class="well well-sm" ng-model="defaultselectedrating">
                   <blockquote>
                      <p>{{defaultselectedrating.rating}} star</p>
                      <p>{{defaultselectedrating.comment}}</p>
                      <footer>{{defaultselectedrating.author}}, <cite title="Source Title">{{defaultselectedrating.date| date:'MMM,d,yyyy'}}</cite></footer>

                    </blockquote>
               </div>
               </div> <!-- End of  well -->
            <div class="col-xs-12 col-xs-offset-0" >
        
             <!-- Beginning of form-->
        <form class="form-horizontal" name="commentForm" ng-submit="sendComment(defaultselectedrating)" novalidate>
                 
                  <!-- fname input form-->
                  <div class="form-group" ng-class="{ 'has-error' : commentForm.name.$error.required && !commentForm.name.$pristine }">
                    <label for="name" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="name" name="name" ng-model="defaultselectedrating.author" placeholder="Enter Your Name" required>
                       <span ng-show="commentForm.name.$error.required && !commentForm.name.$pristine" class="help-block">Name is required.</span>
                    </div>
                  </div>
                  
                     <div class="form-group">
                        <label class="col-md-2 control-label" for="five">Number of Stars</label>
                        <div class="col-md-9">
                            <label class="radio-inline">
                                <input type="radio"  ng-model="defaultselectedrating.rating" name="optradio" id="one" name="one" ng-value="1">
                                1
                            </label>
                             <label class="radio-inline">
                                  <input type="radio" ng-model="defaultselectedrating.rating" name="optradio" id="two" name="two" ng-value="2">
                                2
                            </label>
                             <label class="radio-inline">
                                 <input type="radio" ng-model="defaultselectedrating.rating" name="optradio" id="threee" name="three" ng-value="3">
                                3
                            </label>
                             <label class="radio-inline">
                                  <input type="radio" ng-model="defaultselectedrating.rating" name="optradio" id="four" name="four" ng-value="4">
                                4
                            </label>
                             <label class="radio-inline">
                                 <input type="radio" ng-model="defaultselectedrating.rating" name="five" id="five" name="five" ng-value="5">
                                5
                            </label>

                        </div>
                    </div>
                   
                  
                  <div class="form-group" ng-class="{ 'has-error' : commentForm.comment.$error.required && !commentForm.comment.$pristine }">
                    <label for="comments" class="col-sm-2 control-label">Your Comments</label>
                    <div class="col-sm-10">
                      <textarea rows="12" type="text" class="form-control" id="comment" name="comment" ng-model="defaultselectedrating.comment" required>
                      </textarea>
                      
                        <span ng-show="commentForm.comment.$error.required && !commentForm.comment.$pristine" class="help-block">Comment is required.</span>
                    </div>
                  </div>
                 
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" ng-disabled="commentForm.$invalid" class="btn btn-primary">Submit Comment</button>
                    </div>
                  </div>
        </form>
            </div>
            </div>
        </div>

    </div>

  